# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo

# IDE
.vscode/
.idea/
*.iml
.vs/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Env files
.env

# Docker
*.pid

# Angular stuff
node_modules/
dist/
.angular/
.angular/cache/
